.display-all-products {
	position: absolute;
	top: 50vh;
	z-index: 1;
	width: 100%;
	color: black;
}

.product-row {
	display: flex;
	justify-content: space-evenly;
}

.product-container {
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	border-radius: 10px;
	background-color: #fff;
	margin: 10px 0;
	padding: 1rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	transition: 0.2s all ease-in-out;
}
.product-container:hover {
	transform: scale(1.03);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.product-title {
	font-size: 1.3rem;
	font-weight: 600;
}

.product-price {
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(131, 0, 0);
}

.product-img {
	width: 100%;
	max-height: 200px;
	object-fit: contain;
	margin: 20px auto;
}

.stars {
	display: flex;
}

.add-btn {
	background: linear-gradient(to top, #efbf44, rgb(244, 210, 125));
	font-size: 1.2rem;
	color: var(--dark);
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	padding: 5px 5px;
	width: 13rem;
	margin: 0 auto;
	transition: 0.3s all ease-in-out;
}

.add-btn:hover {
	background: linear-gradient(to top, #e08703, rgb(255, 217, 120));
}
