nav {
	display: flex;
	color: white;
	width: 100%;
	height: 60px;
	background-color: var(--dark);
	top: 0;
	z-index: 100;
}

.nav-items {
	position: relative;
	width: 100%;
	display: flex;
}

li {
	list-style: none;
}

.logo {
	cursor: pointer;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 7px;
	width: 7rem;
}

.search-bar-container {
	position: relative;
}

.search-bar {
	font-family: var(--default-font);
	position: relative;
	color: black;
	outline: none;
	font-size: 1rem;
	padding-left: 10px;
	border: none;
	width: 54vw;
	height: 2.3rem;
	margin: 11px 10px;
	border-radius: 5px;
}

.search-btn-container {
	display: flex;
	align-items: center;
	position: absolute;
	top: 11px;
	height: 2.3rem;
	right: 0.5rem;
	padding: 0 8px;
	background-color: var(--orange);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.search-btn {
	cursor: pointer;
	font-size: 1.7rem;
	color: var(--dark);
}

.right-links {
	display: flex;
	justify-content: space-evenly;
}

.right-text {
	cursor: pointer;
	font-family: var(--default-font);
	display: flex;
	flex-direction: column;
	max-height: 50px;
	overflow: hidden;
	margin: 10px 10px;
}

.cart-cont {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 7px 10px;
}

.cart-logo {
	font-size: 2.1rem;
	color: white;
	margin: 0 5px;
}

.cart-num {
	font-family: var(--default-font);
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--orange);
}

.nav-upper-text {
	font-size: 0.8rem;
	font-weight: 300;
}

.active {
	color: #febd69;
}

.sign-out-cont {
	margin: 3.1rem -20px;
	position: absolute;
	background-color: #fff;
	z-index: 300;
	max-height: 0;
	overflow: hidden;
	transition: 0.1s all ease-in;
}

.sign-arrow {
	opacity: 0;
	position: absolute;
	z-index: 300;
	font-size: 2rem;
	transform: rotate(-90deg);
	color: white;
	bottom: -19px;
	transition: 0.1s all ease-in;
}

.nav-name-field:hover .sign-arrow {
	opacity: 1;
}

.nav-name-field:hover .sign-out-cont {
	max-height: 3.5rem;
}

.sign-out-btn {
	position: relative;
	margin: 0.8rem;
	background: linear-gradient(to top, #efbf44, rgb(244, 210, 125));
	color: var(--dark);
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	padding: 8px;
	font-weight: 700;
}

.menu-icon {
	display: none;
}

.sidebar-cont {
	left: -100rem;
	position: absolute;
	z-index: 200000000000;
	margin-top: 40px;
	background-color: var(--dark);
	width: 100vw;
	height: 1000px;
	transition: 0.2s all linear;
}

/* FOR MOBILE */

@media screen and (max-width: 1100px) {
	nav {
		flex-direction: column;
		height: 100px;
		position: fixed;
		top: 0;
	}
	.top-links {
		display: flex;
		justify-content: space-between;
	}
	.mobile-left-links {
		display: flex;
	}
	.mobile-right-links {
		display: flex;
		margin: 0;
	}

	.logo {
		width: 80px;
		margin-top: 13px;
		margin-left: 10px;
	}
	.menu-icon {
		margin-top: 13px;
		margin-left: 10px;
		display: block;
		font-size: 1.3rem;
	}
	.search-bar-container {
		padding: 0 10px;
	}
	.search-bar {
		width: 98vw;
		height: 2rem;
		margin: 5px 0;
		margin-left: 4px;
	}

	.search-btn-container {
		top: 5px;
		height: 2rem;
		right: 10px;
		background-color: var(--orange);
	}
	.right-text {
		max-height: 50px;
		font-size: 1rem;
		margin: 15px 6px;
	}

	.cart-cont {
		margin-top: 2px;
		margin-right: 10px;
	}

	.cart-logo {
		font-size: 1.9rem;
		color: white;
		margin-top: 10px;
	}

	.cart-num {
		font-family: var(--default-font);
		font-size: 1.4rem;
		font-weight: 700;
		color: var(--orange);
	}

	.sidebar-links {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-mobile-text {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 800px) {
	.search-bar {
		width: 95vw;
	}
}

@media screen and (max-width: 600px) {
	.search-bar {
		width: 93vw;
	}
}
